*{
    margin: 0;
    padding: 0;
}
header{
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 90%,0% 100%);
}

 h2{
    font-family: 'Roboto', sans-serif;
}

#hero{
    background-color: black;
}

#hero h1{
   font-weight: 700;
   font-size: 4rem;
}

.btn1{
	background: transparent;
	padding: 1rem 1rem;
	color: #74b9ff;
	border: 1px solid #74b9ff;
	border-radius: 1rem;
}
.btn2{
	padding: 1rem 1rem;
	color: white;
	border: none;
	background: #74b9ff;

}

.column{
	flex-basis: 50%;	
	text-align: center;
}
.column img{
	width: 80%;
}

.box{
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
	text-align: center;
}
.box i{
	background: #0984e3;
	color: white;
	font-size: 30px;
	padding: 10px;
	margin-top: -20px;
}

.box1{
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
}



@media screen and (max-width:768px) {
	.middle a{
		display: none;
	}
	.right{
		display: none;
	}
	.form{
		display: none;
	}
}
    
